<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="server=localhost;user id=facebook;Password=password;database=vinemedia_facebook;Auto Enlist=false" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpHandlers>
			<add verb="*" path="facebookouth.axd" type="VineMedia.Facebook.FacebookOAuthHandler, VineMedia.Facebook" />
		</httpHandlers>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<membership defaultProvider="MySQLMembershipProvider">
			<providers>
				<clear />
				<add autogenerateschema="true" 
					 connectionStringName="ApplicationServices" 
					 enablePasswordRetrieval="false" 
					 enablePasswordReset="true" 
					 requiresQuestionAndAnswer="false" 
					 requiresUniqueEmail="true" 
					 passwordFormat="Hashed" 
					 maxInvalidPasswordAttempts="5" 
					 minRequiredPasswordLength="6" 
					 minRequiredNonalphanumericCharacters="0" 
					 passwordAttemptWindow="10" 
					 passwordStrengthRegularExpression="" 
					 applicationName="VineMedia.Facebook" 
					 name="MySQLMembershipProvider" 
					 type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web" />
			</providers>
		</membership>
		<profile defaultProvider="MySQLProfileProvider" inherits="VineMedia.Facebook.ProfileCommon">
			<providers>
				<clear />
				<add name="MySQLProfileProvider" 
					 type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web" 
					 connectionStringName="ApplicationServices" 
					 applicationName="VineMedia.Facebook" />
			</providers>
		</profile>
		<roleManager enabled="true" defaultProvider="MySQLRoleProvider">
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" 
					 applicationName="VineMedia.Facebook" 
					 name="MySQLRoleProvider" 
					 type="MySql.Web.Security.MySQLRoleProvider, MySql.Web" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<clear />
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="FaceBookOAuth" path="facebookouth.axd" verb="POST,GET,HEAD" type="VineMedia.Facebook.FacebookOAuthHandler, VineMedia.Facebook" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>